{% load staticfiles %}
<!DOCTYPE html>

<html>
<!-- Page header -->

<head>
	<title>Web Logo</title>

	<link rel="stylesheet" href="{% static 'webLogo.css' %}">
	</link>

	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/webLogo.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/canvasTurtle.js' %}"></script>
</head>

<!-- Page body -->

<body>
	<!-- menu panel -->
	{% csrf_token %}
	<ul class="navigation">
		<li class="nav-item"><a id="btn_new" onclick="javascript:newScript(); return false;">Limpar</a></li>
		<li class="nav-item"><a id="btn_open" onclick="javascript:loadScript(); return false;">Abrir</a></li>
		<li class="nav-item"><a id="btn_save" onclick="javascript:saveScript(); return false;">Gravar</a></li>
		<li class="nav-item"><a id="btn_run" onclick="javascript:parseScript(); return false;">Executar</a></li>
	</ul>

	<input type="checkbox" id="nav-trigger" class="nav-trigger" />
	<label for="nav-trigger"></label>

	<div class="site-wrap">
		<!-- editor panel -->
		<div id="editor" class="editor_panel">
			<textarea id="edt_logoSource" class="source_editor" rows="4" cols="80" autofocus></textarea>
		</div>
		<!-- canvas panel -->
		<div id="canvas" class="canvas_panel">
			<canvas id="canvasTurtle" class="canvas_turtle"></canvas>
		</div>
	</div>

	<!-- initialization script -->
	<script type="text/javascript">
		//	init canvas
		webLogoInit();
		canvasTurtleInit();
		showTurtle();
	</script>
</body>

</html>